.env
.idea
/data/db/*
/data/elasticsearch/*
/data/redis/*

/logs/nginx/*
/logs/mariadb/*
/logs/redis/*
/mariadb/conf/*.sql

!/data/elasticsearch/.gitkeep
!/data/redis/.gitkeep
!/data/db/.gitkeep
!/logs/mariadb/.gitkeep