.env
.idea
/data/db/*
/data/elasticsearch/*
/data/redis/*
/data/symfony/*

/logs/nginx/*
/logs/redis/*
/logs/symfony/*
/logs/elasticsearch/*
!logs/symfony/.gitkeep
!/data/elasticsearch/.gitkeep
!/data/redis/.gitkeep
!/data/symfony/.gitkeep
!/data/db/.gitkeep
