.env
.idea
/data/*
/logs/*

/mariadb/conf/*.sql

!/data/elasticsearch/.gitkeep
!/data/redis/.gitkeep
!/data/db/.gitkeep
!/data/trash/.gitkeep

!/logs/mariadb/.gitkeep
!/logs/nginx/.gitkeep
!/logs/php/.gitkeep
!/logs/redis/.gitkeep
