version: '2'

services:
    db:
        build:
            context: ./mariadb/
            dockerfile: ./Dockerfile
            args:
                - PARENT_USER_ID=${PARENT_USER_ID}
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        volumes:
            - "./mariadb/conf:/etc/mysql/conf.d"
            - "./logs/mariadb:/var/log/mysql/"
            - "${MYSQL_DATA_PATH}:/var/lib/mysql"
        ports:
            - 3306:3306
    elasticsearch:
        build:
            context: ./elasticsearch/
            dockerfile: ./Dockerfile
            args:
                - PARENT_USER_ID=${PARENT_USER_ID}
        environment:
            ELASTICSEARCH_VERSION: 2.4.5
            ELASTICSEARCH_DEB_VERSION: 2.4.5
        volumes:
            - "${ELASTIC_DATA_PATH}:/usr/share/elasticsearch/data"
        ports:
            - 9200:9200
            - 9300:9300
    redis:
        build:
            context: ./redis/
            dockerfile: ./Dockerfile
            args:
                - PARENT_USER_ID=${PARENT_USER_ID}
        ports:
          - "6379:6379"
        volumes:
            - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
            - "${REDIS_DATA_PATH}/6379:/data"
            - "./logs/redis:/var/log"
    php:
        build:
            context: ./php-fpm/
            dockerfile: ./Dockerfile
            args:
                - PARENT_USER_ID=${PARENT_USER_ID}
        volumes:
            - "${SYMFONY_APP_PATH}:/var/www/symfony"
            - "./php-fpm/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - "8080:80"
    nginx:
        build:
            context: ./nginx/
            dockerfile: ./Dockerfile
            args:
                - PARENT_USER_ID=${PARENT_USER_ID}
        environment:
            PARENT_USER_ID: ${PARENT_USER_ID}
        ports:
            - 80:80
            - 443:443
        volumes_from:
            - php
        volumes:
            - ./logs/nginx/:/var/log/nginx
